body, html {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

:root {
 --bar: #b4b0ac;
}

h1 {
    text-align: center;
    color: var(--bar);
    opacity: .8;
}

#root {
    border: 1px solid lightskyblue;
    position: relative;
    width: 80vw;
    margin: auto;
    height: 260px;
}

.ball {
    background-color:  #cabcbc;
    box-shadow: 5px 5px 5px rgb(131, 116, 116);
    border-radius: 100px;
    width: 50px;
    height: 25px;
}

table {
    display: inline-block;
}

td {
    height: 25px;
}


.horizontal-bar {
    height: 5px;
    width: 100%;
    margin-top: 2rem;
    background-color: var(--bar);
} 
    
.bar {
    background-color: var(--bar);
     height: 100% !important; 
    max-width: 5px;
    position: relative;
    left: 50%;
}


/* 
footer {
    text-align: center;
    height: 3vh;
    margin-top: 100px;
    font-size: 1rem;
    color: var(--bar);
}
   */

  
